<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {
        font-family: sans-serif;
      }
      .Pengisian {
        color: rgb(75, 75, 246);
        transition: 0.3s;
        margin-top: 100px;
      }
      .Pengisian ol li {
        font-size: 12.5px;
      }
      .Pengisian:hover {
        color: black;
      }
      h5 {
        color: red;
        text-align: left;
      }
      h5:hover {
        color: black;
      }
      
      img {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      select {
        transition: 0.1s;
      }
      select:hover {
        background-color: rgb(133, 240, 140);
      }
      option {
        transition: 0.1s;
      }
      option:hover {
        background-color: rgb(133, 240, 140);
      }
      input {
        transition: 0.1s;
      }
      
      input:hover {
        background-color: rgb(133, 240, 140);
      }
      textarea {
        transition: 0.1s;
      }
      
      textarea:hover {
        background-color: rgb(133, 240, 140);
      }
      button {
        margin-top: 20px;
        width: 100px;
        height: 30px;
        background-color: rgb(23, 254, 38);
        border-radius: 15px;
        color: rgb(136, 114, 114);
        cursor: pointer;
        transition: 0.2s;
      }
      button:hover {
        background-color: red;
        color: aliceblue;
      }

    
    </body>
</html>
